<div class="app-left-nav-container app-full-v-height" [ngClass]="{'collapsed': isCollapsed()}">
  <div class="app-left-nav-menu-item bg-color text-color" *ngFor="let menuItem of getItemList()"
       [ngClass]="{'active': isMenuItemActivated(menuItem)}">
    <div class="header app-transition-all app-flex-box align-items-center"
         (click)="onMenuItemClicked(menuItem)">
      <span class="icon app-flex-box justify-content-center"><i class="fa {{menuItem.getFaIconClass()}}"></i></span>
      <span class="title">{{menuItem.getTitle()}}</span>
      <span class="icon app-flex-box justify-content-center align-right" *ngIf="menuItem.hasMenuItemList()">
         <i class="fa {{isMenuItemActivated(menuItem) ? 'fa-minus-circle' : 'fa-plus-circle'}}"></i>
      </span>
    </div>
    <ul class="menu-item-list bg-color" *ngIf="menuItem.hasMenuItemList()">
      <li class="menu-item app-transition-all app-flex-box align-items-center" *ngFor="let subMenuItem of menuItem.getMenuItemList()"
        (click)="onSubMenuItemClicked(subMenuItem)" [ngClass]="{'active': isSubMenuItemActivated(subMenuItem)}">
        <span class="icon app-flex-box justify-content-center"><i class="fa fa-angle-right"></i></span>
        <span class="title">{{subMenuItem.getTitle()}}</span>

        <div class="icon app-flex-box justify-content-center align-right" *ngIf="subMenuItem.hasStatisticInfo()">
          <span class="statistic {{subMenuItem.getStatisticInfoClass()}}">{{subMenuItem.getStatisticInfo()}}</span>
        </div>
      </li>
    </ul>
  </div>
</div>
